In [1]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("../../data/paddy-disease-classification/train.csv")
df

         image_id                  label variety  age
0      100330.jpg  bacterial_leaf_blight   ADT45   45
1      100365.jpg  bacterial_leaf_blight   ADT45   45
2      100382.jpg  bacterial_leaf_blight   ADT45   45
3      100632.jpg  bacterial_leaf_blight   ADT45   45
4      101918.jpg  bacterial_leaf_blight   ADT45   45
...           ...                    ...     ...  ...
10402  107607.jpg                 tungro   Zonal   55
10403  107811.jpg                 tungro   Zonal   55
10404  108547.jpg                 tungro   Zonal   55
10405  110245.jpg                 tungro   Zonal   55
10406  110381.jpg                 tungro   Zonal   55

[10407 rows x 4 columns]

In [3]:
df["image_path"] = df.apply(lambda row: os.path.join(row["label"], row["image_id"]), axis=1)

In [4]:
train_df, val_df = train_test_split(df, test_size=0.2, random_state=1234, stratify=df["label"])
train_df["is_valid"] = 0
val_df["is_valid"] = 1

In [5]:
df = pd.concat([train_df, val_df], ignore_index=True)
df.to_csv(f"../outputs/data.csv", index=False)